@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h4{
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
}

button,
input {
    outline: none;
    border: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    visibility: hidden;
    background: rgb(54, 255, 255);
}

.icon {
    width: 18px;
    height: 16px;
}

button,
input {
    outline: none;
    border: none;
}

.section_top {
    width: 100%;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Header------Top*/
.section_top_left {
    display: flex;
    align-items: center;
}

.icon_menu {
    padding: 8px;
}

.style_menu {
    cursor: pointer;
}

.style_menu:hover {
    border-radius: 50%;
    background-color: #f0f0f0;
}

.logo {
    padding: 10px 10px 10px 8px;
    height: 70px;
}


.section_top_center {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 640px;
}

.search_bars {
    border-radius: 50px;
    border: 1px solid rgb(206, 206, 206);
    overflow: hidden;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search_bars input {
    padding-left: 18px;
    width: 100%;
}

.search_bars button {
    width: 60px;
    cursor: pointer;
}

.style_mic {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.style_mic:hover {
    background-color: rgb(224, 224, 224);
}

.icon_mic {
    font-size: 18px;
}


.section_top_right {
    display: flex;
    gap: 10px;
}

.icon_right {
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
}

.icon_right:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}


/*Main*/
.main_all{
    margin-right: 5px;
    position: relative;
    flex: 1;
    overflow: scroll;
}
.main_all::-webkit-scrollbar-thumb{
    visibility: visible;
}

.main {
    
    display: flex;
    box-sizing: border-box;
    overflow: scroll;
    margin: 0 74px;
}


/*video*/
.video_tub{
    height: 100%;
    padding-top: 24px;
    padding-right: 24px;
}
.image_video{
    border-radius: 11px;
    width: 100%;
}
video{
    border-radius: 11px;
    width: 100%;
}
.title_video{
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0 12px;
}

/*channel_action*/
.channel_action{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*channel_action_left*/
.channel_action_left{

}
.logo_channel{
    cursor: pointer;
    width: 40px;
    border-radius: 50%;
}
.channel{
    align-items: center;
    gap: 12px;
    display: flex;
}
.style_name_channel{
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 6px;
    font-weight: 500;
}
.sub_channel{
    margin-top: 4px;
    font-size: 13px;
    color: gray;
}
.register_channel{
    background-color: #000000;
    color: #ffffff;
    border-radius: 30px;
    width: 90px;
    height: 35px;
    font-weight: 600;
    cursor: pointer;
}
.register_channel:hover{
    background-color: #292828;
}

/*channel_action_right*/
.channel_action_right{
    display: flex;
    gap: 10px;
}
.like_dislike{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 120px;
    border-radius: 30px;
    overflow: hidden;
}
.icon_likedis{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 25px;
}
.icon_likedis:hover{
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}
.share{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100px;
    border-radius: 30px;
    overflow: hidden;
}
.btn_share{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 16px;
}
.btn_share:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}
.download{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 110px;
    border-radius: 30px;
    overflow: hidden;
}
.btn_down{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 16px;    
    white-space: nowrap;
}
.btn_down:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}
.donate{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 110px;
    border-radius: 30px;
    overflow: hidden;
}
.btn_donat{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 16px;    
    white-space: nowrap;
}
.btn_donat:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}
.more{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 40px;
    height: 50px;
}
.btn_more{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 16px;    
    white-space: nowrap;
}
.btn_more:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}
.describe_video{
    margin-top: 12px;
    border-radius: 10px;
    background-color: rgb(210, 210, 210);
    height: 110px;
    width: 100%;
}
.text_describe{
    padding: 10px 0 0 10px;
}
.comments{
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    gap: 30px;
}
.style_comment{
    font-size: 20px;
    font-weight: 500;
}
.style_comment2{
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.icon_user{
    cursor: pointer;
    font-size: 40px;
}
.user_comment{
    display: flex;
    gap: 30px;
}
.wrt_comment{
    width: 100%;
    height: 80px; 
}
.input_cmt{
    width: 100%;
    font-size: 20px;
    border-bottom: 3px solid #a7a7a7;
}
.input_cmt:focus{
    border-bottom: 3px solid #000000;
}
.icon_cmt{
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.icon_cmt_style{
    font-size: 30px;
    cursor: pointer;
}
.btn{
    width: 200px;
    gap: 10px;
    display: flex;
}
.btn_cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    font-size: 16px;    
    white-space: nowrap;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.btn_cancel:hover{
    background-color: rgb(238, 238, 238);
}
.btn_cmt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 16px;    
    white-space: nowrap;
    border-radius: 25px;
    background-color: #f2f2f2;
}























@media (max-width: 576px) {
    .sm-col-sidebar {
        display: none;

      }

      .search_bars input {
        display: none;
      }

      .search_bars button {
        width: 40px;
      }
}
